@import "_variables";

.mobile-menu {
  display: none;
}

a:hover {
    color: $secondry-color;
}

a, a:visited {
  text-decoration: none;
  color: $secondry-color;
}

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: $base-font-size;
  height: 100%;

}

a.link-button {
  background-color: $secondry-color;
  color: #fff;
  padding: $base-space * 3 $base-space * 6;
  border-radius: $base-space * 6;
  margin: 0 $base-space;
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
}

.kg-width-full,
.kg-width-wide {
    width: 100%;
}

sidebar.main-sidebar {
  width: 320px;
  height: 100%;
  background-color: $primary-color;
  text-align: center;
  z-index: 9;
  color: $base-color;

  a {
    color: $base-color;
  }

  .avatar {
    @include avatar;
    padding: $base-space * 8 0;
    margin: 0;
  }


  .social-links {
    display: flex;
    justify-content: center;
    padding-bottom: $base-space * 8;
    a {
      padding: $base-space;
      font-size: 1.4em;
    }
  }

  .nav {
    border-top: 1px $base-color solid;
    list-style: none;
    li {
      text-align: left;
      border-bottom: 1px $base-color solid;

      &.nav-current {
        a {
          background-color: $base-color;
          color: $secondry-color;
        }
      }
    }
    a {
      font-size: 1.2em;
      padding: $base-space * 4;
      display: block;
    }
  }
}

.index-page {
  height: 100%;
  width: 100%;
  display: flex;

  section.main-section {
    width: calc(100% - 320px);
    height: 100%;
    overflow: auto;
    padding: $base-space * 8 $base-space * 16;
    color: $text-color;
    line-height: 1.6em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article.article {
    max-width: $base-space * 230;

    .category {
      border-bottom: 1px $secondry-text-color solid;
      margin-bottom: $base-space * 7;
      padding-bottom: $base-space * 8;
    }

    h1 {
      font-size: 1.8em;
      color: $secondry-color;
      line-height: 1.2em;
    }

    h2 {
      font-size: 1.6em;
      color: $secondry-color;
    }

    h3 {
      font-size: 1.4em;
      color: $secondry-color;
    }

    h4 {
      font-size: 1.2em;
      color: $secondry-color;
    }

    a {
      color: $secondry-color;
    }

    p {
      margin: $base-space * 4 0;
    }

    &.post {
      h1 {
        margin-bottom: $base-space * 8;
      }

      h2 {
        margin-top: $base-space * 8;
      }

      h3 {
        margin-top: $base-space * 6;
      }

      strong {
        font-weight: 400;
        color: $secondry-color;
      }

      ol, ul {
        padding-left: $base-space * 7;
        li {
          margin-bottom: $base-space * 4;
          ol, ul {
            margin-top: $base-space * 4;
          }
        }
      }

      pre {
        background-color: #000;
        padding: 0;
        width: 100%;

        ol {
          background-color: $text-color;
          padding-left: $base-space * 10;
          border-radius: $base-space;

          li {
            margin: 0;
            background-color: #000 !important;
            list-style: decimal;
            padding-left: $base-space * 2;

            &:first-child {
              border-top-right-radius: $base-space;
            }

            &:first-child {
              border-bottom-right-radius: $base-space;
            }
          }
        }
      }

      code {
        background-color: #eee;
        padding: 4px;
        font-size: 0.9em;
        font-family: monospace;
      }

      .kg-card {
        display: flex;
        margin: $base-space * 10 0;
        justify-content: center;
      }

      blockquote {
        background-color: #eee;
        padding: $base-space * 2;
        border-radius: $base-space;
        border-left: $secondry-color $base-space solid;
      }
    }
  }
}
