@import "_variables";

.mobile-menu {
  display: none;
}

a:hover {
    color: $secondry-color;
}

a, a:visited {
  text-decoration: none;
  color: $secondry-color;
}

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: $base-font-size;
  height: 100%;

}

a.link-button {
  background-color: $secondry-color;
  color: #fff;
  padding: $base-space * 3 $base-space * 6;
  border-radius: $base-space * 6;
  margin: 0 $base-space;
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
}

.kg-width-full,
.kg-width-wide {
    width: 100%;
}
