@import "_variables";

.post-card-content {
  border-bottom: 1px solid $secondry-text-color;
  padding-bottom: $base-space * 6;
  margin-bottom: $base-space * 6;

  .post-card-header {
    .post-card-tags {
      a {
        background-color: $primary-color;
        color: $base-color;
        font-size: 0.8em;
        padding: 4px 8px;
        border-radius: 100px;
      }
    }
  }

  .post-card-meta {
    font-size: 0.8em;
    color: $secondry-text-color;

    .post-card-meta-length {
      &:before {
        content: " ";
        width: 2px;
        height: 2px;
        background-color: $secondry-text-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 3px;
        border-radius: 12px;
      }
    }
  }
}
