@import "_variables";

sidebar.main-sidebar {
  width: 320px;
  height: 100%;
  background-color: $primary-color;
  text-align: center;
  z-index: 9;
  color: $base-color;

  a {
    color: $base-color;
  }

  .avatar {
    @include avatar;
    padding: $base-space * 8 0;
    margin: 0;
  }


  .social-links {
    display: flex;
    justify-content: center;
    padding-bottom: $base-space * 8;
    a {
      padding: $base-space;
      font-size: 1.4em;
    }
  }

  .nav {
    border-top: 1px $base-color solid;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      text-align: left;
      border-bottom: 1px $base-color solid;

      &.nav-current {
        a {
          background-color: $base-color;
          color: $secondry-color;
        }
      }
    }
    a {
      font-size: 1.2em;
      padding: $base-space * 4;
      display: block;
    }
  }
}